language: node_js
node_js:
  - node # uses most recent stable node version
services:
  - postgresql # starts up postgres
addons:
  postgresql: '10' # recent postgres version on Travis
dist: xenial # uses xenial environment
notifications:
  email:
    on_success: change # default: change (only when going from broken to fixed)
    on_failure: always # default: always (which is annoying, as it should be)
install:
  - npm ci # faster, goes only from package-lock
before_script:
  - psql -c 'create database "grace-shopper-test";' -U postgres # remember to change this name if you change it elsewhere (e.g. package.json)
script:
  - npm test             # test the code
  - npm run build-client # make the bundle
before_deploy:
  - rm -rf node_modules # omit from the tarball, since we skip cleanup
deploy:
  skip_cleanup: true # prevents travis from deleting the build
  provider: heroku
  app: grapefruitshopper # see README
  api_key:
    secure: "TZZ8sDG34GWVs6Jp901+2ftR0AOH7ItqfxcQNuYeZ/4qUjx517dN4PPY32SoNJR5D3ymnKb4nBbiBrHJxqLiP3AOmfSjSVBvVG1pNz247fjIZsJv8TowMzE9txUDIzeVL0dURKMA6LY/ImoLJRHK00ergkd/3r2KepnFbmPiBrBE/KmdqbCruWZnk9ALJaDuBBf5LXGD3W7EcDNcG5/ODms1rtzKb6SrTlrXH66Bjsfquc7O23YB918cjkJXzyz9cEtLpqlnjyEGqN2p60bGhid4Sf7j6XLwoHfymvvKaj52hvGpbZydeQko8GKAxMabR9oV2Pv2WMgX6gMUMNTuSPeB0XztyOVVijYjo5WR1M2S9fqPlyn0GV9uQfEKJT/A448QExmBgl531qaTAn3UofaHh4VPTZM2xTvbpxKzTjk4TBqUgTrKwUufUa+eOG1UzMaJy234MgHarS/sMN5q/AYuTDsMdIPKD3zD3XY1kSNUL39yQem4Vl+Iq4qiq0b3b2fxJy4qA+sFU74Ntdp83svYPjat79nLXez4+rR40PHSIGhtbq5KsUaROetvNlocQvnB8w1nO7cyOS4fBn5S9SHhObqDgcbXgpbcQ28hWF2PR7taVNwdoCOqQBgZ6JDUXJ6lWtNiv9D8ggY+DQcSlT1pw9jleoct2pW2Q0Cqo44=" # see README


