body {
  font-family: sans-serif;
  /* overflow: hidden; */
  /* background-color: rgb(228, 99, 87); */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navbar */
.slogan {
  display: flex;
  flex-wrap: wrap;
}

.navBar {
  background-image: url('./grapefruitNavBackground.jpg');
}

#tm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Catalog */
.allProductsContainer {
  display: flex;
  flex-wrap: wrap;
}

.sidebarDiv {
  flex: 0 0 30%;
}

.allProductsDiv {
  flex: 0 0 70%;
  max-width: 70%;
}

.allProducts {
  height: 100vh;
}

.allProductImg {
  height: 10rem;
  width: 13rem;
  padding: 2rem 1rem 2rem 1rem;
}

.productName {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Single Order Display */
.productDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#singleOrderHeader {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(255, 211, 134);
  padding: 3rem;
}

.singleOrderProductDetails {
  display: grid;
  padding: 1rem;
}
.singleOrderProducts {
  margin: auto;
  width: 50%;
  border: 3px solid rgba(255, 140, 138, 0.879);
  padding: 1rem;
}

/*Single Product */
.singleProduct {
  display: flex;
  flex-wrap: wrap;
}

.singleProduct img {
  height: 25rem;
  width: 25rem;
}

.productInfo {
  margin-left: 3rem;
  width: 35rem;
}

.singleProductName {
  font-size: 2rem;
}
.singleProduct form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.reviewsHeader {
  font-size: 3rem;
}

/* Cart */
.productCart {
  border: 3px solid red;
}

.cartContainer img {
  height: 5rem;
  width: 5rem;
}

.cardElement {
}

/* Checkout */

.StripeElement {
  display: block;
  margin: 5rem 5rem 5rem 32rem;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: rgb(255, 196, 140);
}
