body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navbar */
.slogan {
  display: flex;
  flex-wrap: wrap;
}

#tm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Catalog */
.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.allProductImg {
  height: 10rem;
  width: 13rem;
  padding: 2rem 1rem 2rem 1rem;
}

.productName {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Single Product */
.singleProduct {
  display: flex;
  flex-wrap: wrap;
}

.singleProduct img {
  height: 25rem;
  width: 25rem;
}

.productInfo {
  margin-left: 3rem;
  width: 35rem;
  /* border: 5px solid red; */
}

.singleProductName {
  font-size: 2rem;
}
.singleProduct form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.reviewsHeader {
  font-size: 3rem;
}
